<div class="row">
  <div class="col col-4">Col 1</div>
  <div class="col col-4">Col 2</div>
  <div class="col col-4">Col 3</div>
  <div class="col col-4">Col 4</div>
  <div class="col col-4">Col 5</div>
  <div class="col col-4">Col 6</div>
  <div class="col col-4">Col 7</div>
  <div class="col col-4">Col 8</div>
  <div class="col col-4">Col 9col</div>
</div>

<router-outlet></router-outlet>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 1)"
  size="large"
  color="#fff"
  template="<img src='https://media.giphy.com/media/hL9q5k9dk9l0wGd4e0/giphy.gif' />"
>
</ngx-spinner>